body{
    background-color: green;
}
@keyframes startColor{
    0% {color: black;}
    50% {color: white;}
    100% {color: red;}
}
#ani{
    animation-name: startColor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
h2{
    color: white;
    text-align: center;
}
h3, li{
    color: white;
}
.info{
    width: 130px;
    text-align: left;
    background-color: pink;
    font-size: 20px;
}
img{
    margin: 35px 25px 35px 0px;
}
